* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

/* Time */

.time {
    width: 185px;
    height: 50px;
    background-color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.4rem;
    font-weight: bold;

    border-radius: 3px;
}


/* Part Principal */

.PrincipalForSpaces {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.spaceForResolution {
    min-width: 250px;
    min-height: 250px;
    background-color: rgba(180, 157, 157, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    border-radius: 3.7px;

    padding: 5px 7px;

}

    .imgResolutionSize {
        max-width: 240px;
        min-height: 240px;

        border-radius: 1.85px;
    }

.spaceForProblems {
    min-width: 365px;
    min-height: 365px;
    background-color: cyan;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    font-size: 2rem;
    
    padding: 5px;
}

    .spaceForProblems h2 {
        font-size: 2.6rem;
        position: relative;
        bottom: 15px;
    }

    .spaceForProblems .logo-pucp {
        width: 220px;
        height: 220px;
    }

    .imgsize {
        max-width: 395px;
        min-height: 355px;

        border-radius: 2.5px;
    }

.correccion {
    width: 250px;
    height: 250px;
    background-color: rgba(180, 157, 157, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    border-radius: 3.7px;
}

    .god {
        padding: 5px 12px;
        background-color: chartreuse;
        margin-bottom: 20px;
        border-radius: 2px;
    }

    .bad {
        padding: 5px 12px;
        background-color: red;
        margin-bottom: 20px;
        border-radius: 2px;
    }

    .showResolution {
        padding: 4px 10px;
        background-color: cyan;
        border-radius: 5px;
        cursor: pointer;
    }

/* Botons */

.botons {
    width: 300px;
    height: 82.5px;
    background-color: cyan;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
}

.botons .empezar {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: lightblue;
    color: rgb(56, 50, 50);
    padding: 8.5px 18.5px;

    font-size: 2.5rem;
    cursor: pointer;

    border-radius: 10px;

}

.botons .cont-inp-comp {
    display: none;
    justify-content: center;
    align-items: center;

}

.botons .input {
    padding: 5px;
    width: 100px;
}

.botons .comprobar {
    font-size: 1.6rem;
    padding: 3px 6px;
    background-color: black;
    color: white;
    margin-left: 7px;

    cursor: pointer;
}

.botons .siguiente {
    display: none;
    font-size: 1.6rem;
    padding: 3px 6px;
    background-color: black;
    color: white;
    margin-top: 7px;

    cursor: pointer;
}

/* iconos */

.fa-check-circle {
    color: rgb(43, 224, 43);
}

.fa-times-circle {
    color: red;
}

.fa-circle {
    color: white;
}

/* Responsive todavía no terminado (en proceso) */
@media(max-width: 580px) {
    
    .PrincipalForSpaces {
        flex-wrap: wrap;
    }

    .spaceForResolution {
        min-width: 164.3px;
        min-height: 164.3px;
    }   

        .imgResolutionSize {
            max-width: 157.7px;
            min-height: 157.7px;
        }

    .spaceForProblems {
        min-width: 240px;
        min-height: 240px;
    }   

        .spaceForProblems h2 {
            text-align: center;
        }

        .spaceForProblems .logo-pucp {
            width: 114.6px;
            height: 114.6px;
        }

        .imgsize {
            width: 240px;
            min-height: 240px;
        }

    .correccion {
        width: 164.3px;
        height: 164.3px;
        text-align: center;
    }   

}
